@import url("./grid.css");

body {
	margin: 0;
    background: #190A05;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #870000, #190A05 );
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #870000, #190A05);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}

a {
    text-decoration: none;
	color: #9051c4;
}

.container {
	height: 50px;
	margin: 0 auto;
}

/* слаайды */
.wrapper {
	margin: 0 auto 0;
	padding: 0;
    box-sizing: border-box;
    height: 500px;
	width: 1000px;
	position: relative;
}

.slider {
	background-color: rgb(238, 238, 240);
	height: inherit;
	width: inherit;
	position: relative;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0, 0, 0, .5);
}

.wrapper > input {
	display: none;
}

.slides {
	position: absolute;
	height: inherit;
	width: inherit;
	background-size: 100%;
	background-repeat: no-repeat;
}

.slide1 { 
	background-image: url(https://favera.ru/img/2014/02/02/120431_1391338414.jpg);
}

.slide2 { 
    background-image: url(https://simkl.in/fanart/64/647202569eca6d9b_0.jpg);
}

.slide3 { 
	background-image: url(https://image.tmdb.org/t/p/original/kINmEerbNiQ3KxorIdICG5VDFlA.jpg);
}

.wrapper .controls {
	left: 50%;
	margin-left: -98px;
	position: absolute;
}

.wrapper label {
	cursor: pointer;
	display: inline-block;
	height: 8px;
	margin: 25px 12px 0 16px;
	position: relative;
	width: 8px;
	border-radius: 50%;
}

.wrapper label:after {
	border: 2px solid rgb(17, 70, 218);
	content: " ";
	display: block;
	height: 12px;
	left: -4px;
	position: absolute;
	top: -4px;
	width: 12px;
	border-radius: 50%;
}

.wrapper label {
	cursor: pointer;
	display: inline-block;
	height: 8px;
	margin: 25px 12px 0 16px;
	position: relative;
	width: 8px;
	border-radius: 50%;
	transition: background ease-in-out .5s;
}

.wrapper label:hover, 
#slide1:checked ~ .controls label:nth-of-type(1),
#slide2:checked ~ .controls label:nth-of-type(2),
#slide3:checked ~ .controls label:nth-of-type(3),
#slide4:checked ~ .controls label:nth-of-type(4),
#slide5:checked ~ .controls label:nth-of-type(5) {
	background: rgb(68, 152, 230);
}

.slides {
	height: inherit;
	opacity: 0;
	position: absolute;
	width: inherit;
	z-index: 0;
	transition: transform ease-in-out .5s, opacity ease-in-out .5s;
}

#slide1:checked ~ .slider > .slide1,
#slide2:checked ~ .slider > .slide2,
#slide3:checked ~ .slider > .slide3,
#slide4:checked ~ .slider > .slide4,
#slide5:checked ~ .slider > .slide5 {
	opacity: 1;
	z-index: 1;
	transform: scale(1);
}


/* постеры */
.card {
	border: 1px solid black;
	height:100px;
	margin: 5px;
}

.cards {
	margin-bottom: 30px;
}

/* профиль */
.nav {
	text-align: center;
	margin-top: 70px;
}

.profile {
    text-align: center;
}

/* правое меню */
.right-menu {
	list-style-type: none;
}

/* выпадающее меню */
.sub-menu {
	display: flex;
	position: absolute;
	list-style-type: none;
	top: 10px;
	padding-inline-start: 0px;
	z-index: 2;
}

.menu-item {
	display: inline-block;
	padding: 5px;
}

/* ховеры */
.menu-item {
	position: relative;
}

.menu-item::before,
.menu-item::after {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	height: 2px;
	background-color: #fc2f70;
	transform: scaleX(0);
	transition: transform 0.5s ease;
}

.menu-item::before {
	top: 0;
	transform-origin: center right;
}

.menu-item:hover::before {
	transform-origin: center left;
	transform: scaleX(1);
}

.menu-item::after {
	bottom: 0;
	transform-origin: center left;
}

.menu-item:hover::after {
	transform-origin: center right;
	transform: scaleX(1);
}

.submenu {
	display: none;
	list-style-type: none;
}

li:hover > .submenu {
    display: block;    
}

/* поиск */
.n-search {
	text-align: center;
}

.search-icon {
	background: #fff;
	padding: 5px 15px;
	color: #333;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;

}

.search[type='search'] {
	font-size: 1rem;
	padding: 5px 15px;
	border: none;
	width: 200px;
	transition: 0.4s;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
}

.nav-search {
	display: flex;
	margin: 0 140px;
	padding: 30px;
}

/* модальное окно */
.overlay {
    position: fixed;
	display:none;
	z-index: 4;
}

.overlay:target {
	display:block;
	position: fixed;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	background: rgba(123, 159, 168, 0.877);
}

.form {
    margin: 100px auto;
    text-align: center;
    width: 400px;
}

fieldset {
    border-left-style: none;
    border: none;
    border-radius: 20px;
    background-color: #ffffff;
}

.modal-hide {
	position: absolute;
	top: 12px;
	right: 12px;
	width: 60px;
	height: 60px;
	font-size: 48px;
	color: black;
}

/* кнопка модалбного окна */
.modal-batton {
	padding: 0.5em 1em;
	margin-left: 50px;
	width: 200px;
	outline: none;
	border: none;
	border-radius: 20px;
	background-color: #fc2f70;
	text-decoration: none;
	animation: modal-batton 1.9s ease-in-out infinite both;
	z-index: 3;
}


@keyframes modal-batton {
	from {
		transform: scale(1);
		transform-origin: center center;
		animation-timing-function: ease-out;
	}
	10% {
		transform: scale(0.91);
		animation-timing-function: ease-in;
	}
	17% {
		transform: scale(0.98);
		animation-timing-function: ease-out;
	}
	33% {
		transform: scale(0.87);
		animation-timing-function: ease-in;
	}
	45% {
		transform: scale(1);
		animation-timing-function: ease-out;
	}
}
	
  